[Unit]
Description=Zatsuma 
Requires=mysql.service
Requires=apache2.service
After=network.target
Wants=zatsuma-shopd-zec.service
Wants=zatsuma-shopd-yec.service
Wants=zatsuma-shopd-btc.service
Wants=zatsuma-shopd-btcln.service

[Service]
Type=simple
User=USERNAME
ExecStart=/usr/local/bin/zatsuma/shopd

[Install]
WantedBy=multi-user.target

