[Unit]
Description=Zatsuma Shop Daemon (Ycash)
StartLimitIntervalSec=0
Wants=zatsuma-ycashd.service
Wants=zatsuma.service

[Service]
Type=simple
User=USERNAME
ExecStart=/usr/local/bin/zatsuma/shopd-yec

