[Unit]
Description="Zatsuma DuckDNS (Dynamic IP)"
Wants=zatsuma.service
Wants=zatsuma-duckdns.timer
PartOf=zatsuma-all.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zatsuma/shopd -duckdns
User=USERNAME

[Install]
WantedBy=zatsuma-duckdns.target
