[Unit]
Description=Zatsuma Shop Daemon (Bitcoin Lightning Network)
After=zatsuma-shopd.service
StartLimitIntervalSec=0
Wants=zatsuma-bitcoind.service
Wants=zatsuma-lnd.service
Wants=zatsuma.service
PartOf=zatsuma-all.service
PartOf=zatsuma-btc.service

[Service]
Type=simple
User=USERNAME
ExecStart=/usr/local/bin/zatsuma/shopd-btcln

