[Unit]
Description=Zatsuma 
Requires=mysql.service
Requires=apache2.service
After=network.target
Wants=zatsuma-prices.timer
Wants=zatsuma-duckdns.timer
PartOf=zatsuma.service

[Service]
Type=simple
User=USERNAME
ExecStart=/usr/local/bin/zatsuma/shopd

[Install]
WantedBy=multi-user.target

