[Unit]
Description="Zatsuma Exchange Rate"
Wants=zatsuma-prices.timer
Wants=zatsuma.service
PartOf=zatsuma-all.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zatsuma/shopd -coinlib
User=USERNAME

[Install]
WantedBy=zatsuma-prices.target

