[Unit]
Description=Zatsuma Zcash Node (bitcoind)
After=zatsuma-shopd-btc.service
PartOf=zatsuma.service

[Service]
Type=forking
User=USERNAME
ExecStart=/usr/local/bin/bitcoind -daemon
ExecStop=/usr/local/bin/bitcoin-cli stop

