[Unit]
Description=Zatsuma 
Requires=mysql.service
Requires=apache2.service
After=network.target
Wants=zatsuma-prices.timer
Wants=zatsuma-duckdns.timer
Wants=zatsuma-zec.service
Wants=zatsuma-yec.service
Wants=zatsuma-btc.service
Wants=zatsuma-lnd.service

[Service]
Type=oneshot
User=USERNAME
ExecStart=/usr/local/bin/zatsuma/shopd -coinlib

[Install]
WantedBy=multi-user.target

