[Unit]
Description=Zatsuma Zcash Node (zcashd)
PartOf=zatsuma-zec.service

[Service]
Type=forking
User=USERNAME
ExecStart=/usr/bin/zcashd -daemon
ExecStop=/usr/bin/zcash-cli stop

