[Unit]
Description=Zatsuma Timer (Order Processing)

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
Unit=zatsuma-orders.service

[Install]
WantedBy=network.target
