[Unit]
Description=Zatsuma Timer (Exchange Rates)

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
Unit=zatsuma-prices.service

[Install]
WantedBy=network.target
