[Unit]
Description=Zatsuma Timer (DuckDNS)

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=zatsuma-duckdns.service

[Install]
WantedBy=zatsuma.service
