[Unit]
Description=Zatsuma Timer (Exchange Rates)

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=zatsuma-prices.target

[Install]
WantedBy=zatsuma.service
