[Unit]
Description=Zatsuma Zcash Node (bitcoind)
PartOf=zatsuma-all.service
PartOf=zatsuma-btc.service

[Service]
Type=forking
User=USERNAME
ExecStart=/usr/local/bin/bitcoind -daemon
ExecStop=/usr/local/bin/bitcoin-cli stop

