[Unit]
Description=Zatsuma Shop Daemon (Zcash)
After=zatsuma-shopd.service
PartOf=zatsuma.service
Wants=zatsuma-zcashd.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=USERNAME
ExecStart=/usr/local/bin/zatsuma/shopd-zec

